.imagens-carrossel{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
}

.imagens-carrossel .carrossel{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: 0.5s ease-out;
    /* font-size: 2rem; */
    display: flex;
    align-items: center;

}.imagens-carrossel .carrossel.mostrar{
    opacity: 1;
}

.carrossel-rosa{
    background-image: url(../img/imagem1.png);
}

.carrossel-verde{
    background-image: url(../img/imagem2.png);
}

.carrossel-laranja{
    background-image: url(../img/imagem3.png);
}
.carrossel-azul{
    background-image: url(../img/imagem4.png);
}

.seta-voltar, .seta-avancar{
    position: absolute;
    z-index: 1;
}

.seta-voltar{
    left: 4%;
    transform: rotateY(180deg);
}

.seta-avancar{
    right: 4%;
}

.seta-voltar .imagem-seta, .seta-avancar .imagem-seta {
    width: 50px;
    height: 50px;
}

.opacidade {
    opacity: 0.6;
    cursor: default;
}

.conteudo {
    background-color: #FFFFFF;
    margin-left: 180px;
    padding: 65px 60px;
    width: 620px;
    border-radius: 10px;
}
.conteudo .titulo {
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 80px;
}

.conteudo .texto {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 50px;
}

.conteudo .botao{
    font-size: 3rem;
    font-weight: 700;
    transition: 0.2s ease-in-out;
}


.botao.rosa{
    color: #C50000;
}

.botao.verde{
    color: #D9DD10;
}

.botao.laranja{
    color: #A63A17;
}

.botao.azul{
    color:#10ACDD;
}
